
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 768px) {
  body {
    background-size: contain;
  }
}


.bg-style {
  background-image: url(/src/image/Bk-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

/* Title styling */
h1 {
  font-size: 30px;
  text-align: center;
  border: 1px solid black;
  padding: 5px 0;
  margin-top: 2px;
  background-color: antiquewhite;
}

/* Search area and its button styling */
.search-area {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.primary-input {
  padding: 5px 5px;
  margin: 5px 5px;
}

/* Filterin section styling */
.filter-section {
  flex-direction:column;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  color:royalblue;
  font-weight: bolder;
}

.filter-section h2 {
  color: black;
  display: block;
  width: 300px;
  height: 50px;
  background-color: lightblue;
  text-align: center;
  padding: 10px;
  margin: 20px auto;
  border-radius: 5px;
}

.results-container {
  margin-top: 50px;
  display: block;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content:center;
  text-align: center;
  color: rgb(31, 21, 7);
  font-size: 25px;
  font-weight: bold;
  
}

.results-container h2 {
  color: black;
  display: block;
  width: 300px;
  height: 50px;
  background-color: lightblue;
  text-align: center;
  padding: 10px;
  margin: 20px auto;
  border-radius: 5px;
}

input[type="checkbox"] {
  display: none;
  text-align: center !important;

}

.loading-message {
  text-align: center;
  color: darkblue;
  font-weight: bold;
}